<div class="social-infor">
  <div class="social-infor-header">
    <h2 class="body-medium gray-900">{{data.name}}</h2>
    <p class="caption">{{data.category}}</p>
  </div>
  <p class="body-small gray-200">{{data.email}}</p>
  <p class="body-small gray-200">{{data.phone}}</p>
</div>
<div class="social-infor-action">
  <button (click)="handleDeleteContact()">
    <img src="assets/svg/delete-icon.svg" alt="Icone Deletar">
  </button>
  <button>
    <img src="assets/svg/edit-icon.svg" alt="Icone Deletar">
  </button>
</div>
