@use "variables";

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: .4rem;
  padding: 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.social-infor {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.social-infor-header {
  display: flex;
  align-items: center;
  gap: .9rem;

    .caption {
      background-color: #F5F5F5;
      padding: .4rem .6rem;
      border-radius: .4rem;
      color: variables.$success;
    }
}

.social-infor-action {
  display: flex;
  gap: .8rem;

    button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .2rem;
      background-color: transparent;
      border: none;
    }
}