<form>
  <app-input [(messageError)]="formErrors.name.message" [(model)]="form.name" nameAndID="contactName" placeholder="Nome" type="text"></app-input>
  <app-input [(messageError)]="formErrors.email.message" [(model)]="form.email" nameAndID="contactEmail" placeholder="E-mail" type="email"></app-input>
  <app-input [(messageError)]="formErrors.phone.message" [(model)]="form.phone" nameAndID="contactPhone" placeholder="Telefone" type="text"></app-input>
  <app-input [(messageError)]="formErrors.category.message" [(model)]="form.category" nameAndID="contactCategory" placeholder="Categoria" type="text"></app-input>
  <app-button (onClick)="handleSubmit()" class="btn-form" value="Cadastrar"></app-button>
</form>
