@use "variables";

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: variables.$height-header;
}

main {
  min-height: calc(100vh - variables.$height-header);
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  flex-direction: column;
  padding-bottom: 6rem
}