$primary-color: #F6F5FC;
$secondary-color: #E0E3FF;
$thirt-color: #6674F4;
$four-color: #5061FC;
$five-color: #3346F0;

$success: #51CA73;
$danger-light: #F97171;
$danger-main: #FC5050;
$danger-dark: #F63131;

$gray-900: #222222;
$gray-200: #BCBCBC;
$gray-100: #E6E6E6;

$overlay: rgba(222,222,222, 0.6);

$height-header: 150px;